In [1]:
import pandas as pd

# Load the dataset
# We use the filename 'Netflix_Clustering.csv' as provided in your directory
df = pd.read_csv('NetflixClustering_DB.csv')

In [2]:
# 1. Inspect the first 5 rows to see the content structure
print("--- Dataset Head ---")
print(df.head())

--- Dataset Head ---
  show_id     type  title           director  \
0      s1  TV Show     3%                NaN
1      s2    Movie   7:19  Jorge Michel Grau
2      s3    Movie  23:59       Gilbert Chan
3      s4    Movie      9        Shane Acker
4      s5    Movie     21     Robert Luketic

                                                cast        country  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...         Brazil
1  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
2  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
3  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
4  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States

          date_added  release_year rating   duration  \
0    August 14, 2020          2020  TV-MA  4 Seasons
1  December 23, 2016          2016  TV-MA     93 min
2  December 20, 2018          2011      R     78 min
3  November 16, 2017          2009  PG-13     80 min
4    January 1, 2020          2008  PG-13    123 min

                                           listed_in  \
0  International TV Shows, TV Dramas, TV Sci-Fi &...
1                       Dramas, International Movies
2                Horror Movies, International Movies
3  Action & Adventure, Independent Movies, Sci-Fi...
4                                             Dramas

                                         description
0  In a future where the elite inhabit an island ...
1  After a devastating earthquake hits Mexico Cit...
2  When an army recruit is found dead, his fellow...
3  In a postapocalyptic world, rag-doll robots hi...
4  A brilliant group of students become card-coun...

In [3]:
# 2. Check the summary of the dataframe (columns, non-null counts, and data types)
print("\n--- Data Information ---")
print(df.info())

--- Data Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB
None

In [4]:
# 3. Specifically identify how many missing values exist per column
print("\n--- Missing Values Count ---")
print(df.isnull().sum())

--- Missing Values Count ---
show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [5]:
# 4. Check for duplicate records
print("\n--- Duplicate Rows ---")
print(f"Number of duplicate entries: {df.duplicated().sum()}")

--- Duplicate Rows ---
Number of duplicate entries: 0